.calculator{
border:1px solid #2c2c2c88;
border-radius:5px;
width: 300px;
justify-content: center;
}

.textInput{
  font-size: 25px;
  margin: 10px;
  width: 270px;
  border: 2px solid #030303a2;
}

.buttonsContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button{
  height: 70px;
  width: 70px;
  margin: 3px;
}